<h1>添加副本确认($report.appName)</h1>
<style type="text/css"><!--
  .ips{
    background-color:yellow;
    display:inline-block;
    margin:10px;
  }
-->
</style>
<div style="width:80%">
<form method="post" action="$manageModule.setTarget("addreplica")">
 <input type="hidden" name="action" value="add_app_action" />
 <input type="hidden" name="appname" value="$report.appName" />
 <input type="hidden" name="replica" value="$addReplica.replicaCount" />


<p style="text-align:right;">
 <input type="submit" style="width:200px;height:40px;" name="event_submit_do_batch_add_replica_confirm" value="确认执行" />
</p>

<table  width="100%" border="1">
<tr>
  <th>组号</th><th>添加的副本地址</th>
</tr>
#foreach($e in $addReplica.createPublishNewCoreParam().entrySet())
<tr>
<th>
$e.key
</th>
<td>
#set($index=0)
#foreach($ip in $e.value)
<span class="ips"> $ip </span><input type="hidden" name="ip[$index]" value="$ip" />
#set($index=$index+1)
#end
</td>
</tr>
#end
</table>

</form>
</div>
