
<h2>更新应用</h2>

<style type="text/css"><!--
  #uploaddialog p span{
    width:8em;
    display:inline-block;
  }
  #btndouploadjar {
    width:200px;
    height:30px;
  }
-->
</style>
#showFormErrors("appupdate")
<form method="post" action="$manageModule.setTarget("appupdate")" >
#*
$csrfToken.hiddenField
*#
<input type="hidden" name="action" value="add_app_action"/>
<input type="hidden" name="appid" value="$app.appId"/>
<fieldset id="uploaddialog">

  <div class="form-group">
    <label class="col-sm-2 control-label" for="projectName">名称</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="projectName"  name="projectName" value="$!app.projectName" />
      <em style="color:red">必选</em>
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label" for="dptId">所属部门</label>
    <div class="col-sm-10">
  
   <select name="bizid" class="form-control">
  #foreach($item in $bizlist)  
    <option #if($item.value == $app.dptId) selected #end value="$item.value">$item.name</option>
  #end  
  </select>
  <em style="color:red">必选</em>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="recept">接口人</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="recept"  name="recept" value="$!app.recept" />
      <em style="color:red">必选</em>
    </div>
  </div>

 <div class="form-group">
   <div class="col-sm-12" style="text-align:right">
<input type="submit" id="btnaddapp" class="btn btn-default" 
   name="event_submit_do_update" value="提     交" />
  </div>
  </div>
</fieldset>
</form>
<script>
$(document).ready(function(){  
  createCheckboxShow("isyunti","pathblock");
  createCheckboxShow("isCreateConfig","runModelBlock");
});

function createCheckboxShow(chkName,showblock){
  $("#"+chkName).change(function(){    
   if($(this).attr("checked") == "checked"){
     $("#"+ showblock).show();
   }else{
     $("#"+ showblock).hide();
   }
  });
}
</script>