
<h2>更新应用</h2>

<style type="text/css"><!--
  #uploaddialog p span{
    width:8em;
    display:inline-block;
  }
  #btndouploadjar {
    width:200px;
    height:30px;
  }
-->
</style>
#showFormErrors("appupdate")
<form method="post" action="$manageModule.setTarget("appupdate")" >
#*
$csrfToken.hiddenField
*#
<input type="hidden" name="action" value="add_app_action"/>
<input type="hidden" name="appid" value="$app.appId"/>
<fieldset id="uploaddialog">
<legend>设置表单</legend>
<p>
 <span>名称:</span> 
  <input type="text" name="projectName" value="$!app.projectName" size="50"/>
    <em style="color:red">必选</em>
</p>

<p>
 <span>所属部门:</span>    
  <select name="bizid">
  #foreach($item in $bizlist)  
    <option #if($item.value == $app.dptId) selected #end value="$item.value">$item.name</option>
  #end  
  </select>
  <em style="color:red">必选</em>
</p>

<p>
 <span>接口人:</span> 
  <input type="text" name="recept" value="$!app.recept"/> 
    <em style="color:red">必选</em>
</p>

<p>
   <span>DUMP使用云梯:</span> 
   <input type="checkbox" name="yunti" id="isyunti" value="true" #if(!$manageTool.isEmpty($app.yuntiPath)) checked #end/>
   <label for="isyunti">是</label> <a href="http://10.232.136.79:8080/doc/tsearcher_cleint_tutorial3_1_5.html#a2_2_1" >云梯接入帮助</a>
</p>

<p id="pathblock" #if($manageTool.isEmpty($app.yuntiPath)) style="display:none;" #end>
   <span>云梯路径:</span> 
   <input type="text" name="yuntiPath" size="100" 
      value="$!manageTool.defaultIfEmpty($request.getParameter('yuntiPath'),$appYuntiPathInfo.path)"
      placeholder="hdfs://hdpnn:9000/group/taobao-sns/tina.wyn/fullIndexTaodan/join/${yyyyMMdd}"/><br/>
   <span>云梯账户Token:</span> 
   <input type="text" name="yuntiToken" size="60" maxlength="60"
      value="$!manageTool.defaultIfEmpty($request.getParameter('yuntiToken'),$appYuntiPathInfo.userToken)"
      placeholder="caiyu,cug-tbdp,cug-public,cug-trade,#caiyu098&"/><br/>
</p>

<p>
  <span>是否自动部署:</span> 
  <input type="checkbox" name="isautodeploy" id="isautodeploy" #if($app.isAutoDeploy) checked #end value="true"/><label for="isautodeploy">是</label>
</p>
<p>
<input type="submit" id="btnaddapp" name="event_submit_do_update" value="提     交" />
</p>
</fieldset>
</form>
<script>
$(document).ready(function(){  
  createCheckboxShow("isyunti","pathblock");
  createCheckboxShow("isCreateConfig","runModelBlock");
});

function createCheckboxShow(chkName,showblock){
  $("#"+chkName).change(function(){    
   if($(this).attr("checked") == "checked"){
     $("#"+ showblock).show();
   }else{
     $("#"+ showblock).hide();
   }
  });
}
</script>