<h2>业务线列表</h2>

<style type="text/css"><!--
 #appquicklink{
  margin:2px;
  width: 900px;
  background-color:#EAEAEA;
  border: 4px solid #0000FF;
  padding:2px;
 # display:none;
 # position: absolute;
 }
 #appquicklink p {
  margin:2px;
 }
 -->
</style>

<script>
   function deleteBizDomain(bizid){
     if(!window.confirm("你确定要删除ID:"+ bizid+"的记录吗？")){
        return ;
     }
    
       
        jQuery.ajax({url:'$manageModule.setTarget("bizdomainlist.ajax")', 
         		type:'POST',
				dataType:"json",
          		data:"event_submit_do_delete_biz_domain=y&action=biz_domain_list&bizid="+bizid,
			    success:function(data){
				  	showMessageDialog(data);
	      	    }				   
	        }); 
    }
    
     function recovery_bizdomain(sid,content){
     call_2_server(sid,'你确定要恢复['+ content+']这条记录吗？','recovery');
   }
   
   function call_2_server(sid,content,event){
     $('<div></div>').html(content).dialog({
			width:400,
			height:200,
			modal:true,
			buttons: { "确定": function() { 	
	   ajax_fire_event(
       '$manageModule.setTarget("bizdomainlist.do")'
       ,event
       ,{action:"biz_domain_list"
         ,'bizid':sid}
       ,function( msg ) {
          window.location.reload();
       });  }
       ,"取消": function() { $(this).dialog("close"); } }}); 
   }
</script>
<p>
#*
#popup("$manageModule.setTarget('addbizdomain')","添加业务线",'')
<a id="btnserverSelect" href="#" onclick="return btnserverSelectClick();">应用快速查询</a>
*#
</p>

#*
<fieldset id="appquicklink">
$control.setTemplate("appselect.vm")
<p>
 <a id="appserverview" href="#" >查看服务器</a>
</p>
</fieldset>
*#


<p>
#popup("$manageModule.setTarget('biz_domain_add')","添加","600*500")
</p>
<table class="table table-bordered table-hover" width="100%">
<thead>
<tr>
 <th width="5%">ID</th>
 <th>全称</th>
  
 <th width="13%">名称</th>

 <th width="12%">创建时间</th>
 <th width="12%">操作</th>
</tr>
</thead>
#foreach($item in $bizlist)
<tr> 
<td align="center">$item.dptId</td>
<td>$item.fullName</td>
<td>$item.name</td>
<td align="right" style="font-size:12px">$manageTool.formatDateYYYYMMdd($item.gmtCreate)</td>

<td> #popup("$manageModule.setTarget('biz_domain_update')?bizid=$item.dptId","更新","600*500") </td>
</tr>
#end
</table>
<script>

function btnserverSelectClick(){
        $("#appquicklink").show('slow', function(){});
        return false;
}

 function btnHideServerSelectClick(){
        $("#appquicklink").hide('slow', function(){});
        return false;
 }


 $("#appserverview").click(function(){
 //app.htm?appid=100
  var selectAppid = $("#hidappname").val();

if(!(selectAppid>0)){
 selectAppid = parseInt($("#appidsmain").val());
}

if(!(selectAppid>0)){
 alert("请选择应用");
 $("#query").select();
 return ;
}
  var href= "$manageModule.setTarget('app')?appid="+ selectAppid;
  $(this).attr("href",href);
 });
</script>
