<h2>添加业务线</h2>
<style type="text/css"><!--
  #uploaddialog p span{
    width:4em;
    display:inline-block;
  }
-->
</style>
#showFormErrors("csrfCheck")
<form method="post" action="$manageModule.setTarget("biz_domain_add")" >

<input type="hidden" name="action"  value="biz_domain_action"/>
<fieldset id="uploaddialog">

<div class="form-group">
    <label for="inputBizName">名称</label>  
    <input type="text" class="form-control" name="bizname" size="50" value="$!biz.name"/>
    <em style="color:red">必选</em>
</div>

<p>
<input type="submit" class="btn btn-default" id="btnaddapp" name="event_submit_do_add" value="添 加" />
</p>
</fieldset>
</form>