<h2>添加全局配置参数</h2>
<style type="text/css"><!--
  #uploaddialog p span{
    width:8em;
    display:inline-block;
  }
  #btndouploadjar {
    width:200px;
    height:30px;
  }
-->
</style>
#showFormErrors("addapp")
<form method="post" action="$manageModule.setTarget("config_file_parameters_add")">
  <input type="hidden" name="action" value="config_file_parameters_action"/>
<fieldset id="uploaddialog">
  
<div class="form-group">
    <label for="keyname">键名</label>  
    <input type="text" class="form-control" name="keyname" size="50" value="$!biz.keyName"/>
    <em style="color:red">必填</em>
</div>

<div class="form-group">
    <label for="keyvalue">值</label>  
    <input type="text" class="form-control" name="keyvalue" size="50" value="$!biz.envVal"/>
    <em style="color:red">必填</em>
</div>

<div class="form-group">
    <label for="desc">描述</label>  
    <input type="text" class="form-control" name="desc" size="50" value="$!biz.desc"/>
    <em style="color:red">必填</em>
</div>
 
 <p style="text-align:right;">
  <input type="submit" class="btn btn-default" name="event_submit_do_add_parameter" value="提 交" />
 </p>
 
</fieldset>