<h2>添加全局配置参数</h2>
<style type="text/css"><!--
  #uploaddialog p span{
    width:8em;
    display:inline-block;
  }
  #btndouploadjar {
    width:200px;
    height:30px;
  }
-->
</style>
#showFormErrors("addapp")
<form method="post" action="$manageModule.setTarget("config_file_parameters_add")">
  <input type="hidden" name="action" value="config_file_parameters_action"/>
<fieldset id="uploaddialog">
 <legend>设置表单</legend>
 <p>
  <span>键名：</span> <input type="text" name="keyname"  />
  <em style="color:red">必选</em>
 </p>
 
 <p>
  <span>DAILY VALUE：</span> <input size="40" type="text" name="dailyvalue"  />
  <em>选填</em>
 </p>
 
 <p>
  <span>READY VALUE：</span> <input size="40" type="text" name="readyvalue"  />
  <em >选填</em>
 </p>
 
 <p>
  <span>ONLINE VALUE：</span> <input size="40" type="text" name="onlinevalue"  />
  <em >选填</em>
 </p>
 
 <p style="text-align:right;">
  <input type="submit" style="width:80px;height:30px;" name="event_submit_do_add_parameter" value="提 交" />
 </p>
 
</fieldset>