<h2>解除成员($dptuser.name) 部门($dpt)绑定关系</h2>
#showFormErrors("addapp")
<form method="post" action="$manageModule.setTarget("dptUnbindUser")">
<input type="hidden" name="action" value="department_action" />
<input type="hidden" name="duid" value="#p('duid')" />
<input type="submit" name="event_submit_do_unbind_user" value="提   交" />
</form>
