

<ul class="errorMessage">
 <li>对不起，您尚没有操作本功能的权限，如需要使用该功能，请先在
 <a style="color:blue" target="_blank"  href="http://acl.alibaba-inc.com/apply/cart/detail.htm?roleIds=100004446&expireDateMode=0&expireDate=forever">集团权限平台</a>
 申请业务管理员角色
 </li>
</ul>