
<center style="margin-top:100px;">
<table   >
<tr>
<td>
<ul style="margin:10px;padding:0px">
<li>
<a style="display:inline-block;" target="_blank" href="http://baike.corp.taobao.com/index.php/%E7%BB%88%E6%90%9C%E7%94%A8%E6%88%B7%E5%AE%A2%E6%88%B7%E7%AB%AF%E8%B0%83%E7%94%A8%E6%96%87%E6%A1%A3">终搜WIKI</a>
</li>
<li>
<a target="_blank" href="/doc/tsearcher_cleint_tutorial3_1_5.html">TSearcher客户端配置说明3_1_5(最新20130328)</a>
</li>
</ul>
</td>
</tr>
<tr>
<td align="center"><img src='$rundata.request.contextPath/runtime/imgs/terminator_logo.jpg' /></td>
</tr>
</table>
</center>