<style type="text/css"><!--

  #uploaddialog p span{
    width:8em;
    display:inline-block;
  }
  #btndouploadjar {
    width:200px;
    height:30px;
  }
-->
</style>

#showFormErrors("uploadjar")
<form method="post" enctype="multipart/form-data" action="$manageModule.setTarget("uploadjar")" >
#*
$csrfToken.hiddenField
*#
<input type="hidden" name="action" value="upload_jar_action"/>
<fieldset id="uploaddialog">
<legend>设置表单</legend>
<p>
 <span>solor schema:</span> <input type="file" name="schema"/> <em style="color:red">必选</em>
</p>
<p>
 <span>solor config:</span> <input type="file" name="config"/> <em style="color:red">必选</em>
</p>
<p>
 <span>spring xml:</span> <input type="file" name="spring"/>  
</p>

<p>
 <span>core property:</span> <input type="file" name="coreprop"/>
</p>
<p>
 <span>DS(data source):</span> <input type="file" name="datasource"/>
</p>
<p>
 <span>dump 包:</span> <input type="file" name="uploadfile"/>
</p>
<p>
<input type="submit" id="btndouploadjar" name="event_submit_do_upload_jar" value="上 传" />
</p>
</fieldset>
</form>