<h2>创建SOLR SCHEMA</h2>

<table width="100%" border="1">
  <tr>
    <td width="13%">唯一键</td>
    <td >id<button>设置</button></td>
  </tr>
  <tr>
    <td>设置默认查询字段</td>
    <td>id<button>设置</button></td>
  </tr>
   <tr>
    <td>条件连接关系</td>
    <td>OR<button>设置</button></td>
  </tr>
</table>
<p>
<button>删除</button> <button onclick="window.showModalDialog('./addfield.html','dialogWidth=600px;dialogHeight=400px;center=yes')">添加</button>   
</p>

<table width="100%" border="1">
  <tr>
    <th width="45px" ><button style="font-size:6px;">反选</button></th>
    <th width="10%">字段名称</th>
    <th>类型</th>
    <th>索引</th>
    <th>存储</th>
    <th>必须</th>
    <th>多值</th>
    <th>操作</th>
  </tr>
  <tr>
    <td><input name="" type="checkbox" value="" /></td>
    <td>id </td>
    <td>slong </td>
    <td>√</td>
    <td>√</td>
    <td>√</td>
    <td>&nbsp;</td>
    <td> <button>更新</button></td>
  </tr>
  <tr>
    <td><input name="Input" type="checkbox" value="" /></td>
    <td>status </td>
    <td>int </td>
    <td>√</td>
    <td>&nbsp;</td>
    <td>√</td>
    <td>&nbsp;</td>
    <td><button>更新</button></td>
  </tr>
  <tr>
    <td><input name="Input" type="checkbox" value="" /></td>
    <td> inform_num </td>
    <td>int </td>
    <td>√</td>
    <td>√</td>
    <td>√</td>
    <td>&nbsp;</td>
    <td><button>更新</button></td>
  </tr>
  <tr>
    <td><input name="Input" type="checkbox" value="" /></td>
    <td> opt_nick </td>
    <td>string </td>
    <td>√</td>
    <td>&nbsp;</td>
    <td>√</td>
    <td>&nbsp;</td>
    <td><button>更新</button></td>
  </tr>
</table>

