<style type="text/css"><!--
strike{
 background-color:pink;
}
span.add{
 background-color:#00FF00;
}
-->
</style>
<div  style="margin-left:10px;">
<p><span class="add" style="display:inline-block;border:1px solid #333333; width:120px ;height:30px;font-size:28px">新增内容</span>    <strike style="display:inline-block;border:1px solid #333333; width:120px ;height:30px;font-size:28px">删除内容</strike></p>
<h3>比较结果</h3>
#foreach($item in $differ)

<h3>$item.fileName differ:snapshot${synManager.dailyRes.snapshot.snId}～snapshot${synManager.onlineResDomain.snapshot.snId}</h3>

<pre  style="border:#000066 solid 3px;margin-left:30px;background-color:#E6E6E6;padding:5px;width:1000px;">$manageTool.noescape($item.htmlDiffer)</pre>

#end

</div>



