<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoding>${loggingCharset}</encoding>
		<!-- <filter class="com.alibaba.citrus.logconfig.logback.LevelRangeFilter"> 
			<levelMax>INFO</levelMax> </filter> -->
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss} %level %X{app} %logger{35}- %msg%n]]></pattern>
		</layout>
	</appender>


	<appender name="executeactionappender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.dir}/executeactionappender.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/bak/%d{yyyy-MM}-executeactionappender.log
			</fileNamePattern>
			<maxHistory>12</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss} %level %logger{35}- %msg%n]]></pattern>
		</encoder>
	</appender>


	<appender name="console"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.dir}/console.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/bak/%d{yyyy-MM-dd}-console.log
			</fileNamePattern>
			<maxHistory>15</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss} %level %logger{35}- %msg%n]]></pattern>
		</encoder>
	</appender>

	<appender name="zookeeper"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.dir}/zookeeper.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/bak/%d{yyyy-MM-dd}-zookeeper.log
			</fileNamePattern>
			<maxHistory>15</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss} %level %logger{35}- %msg%n]]></pattern>
		</encoder>
	</appender>

	<logger name="executeaction">
		<level value="INFO" />
		<appender-ref ref="executeactionappender" />
	</logger>

	<logger name="com.taobao">
		<level value="INFO" />
		<appender-ref ref="console" />
	</logger>

	<logger name="com.dfire.tis">
		<level value="INFO" />
		<appender-ref ref="console" />
	</logger>

	<logger name="org.apache.solr.common.cloud">
		<level value="INFO" />
		<appender-ref ref="zookeeper" />
	</logger>


	<root>
		<level value="WARN" />
		<!-- -->
		<appender-ref ref="STDOUT" />
		 
		<appender-ref ref="console" />
	</root>

</configuration>
