<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <target>System.out</target>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss} %level %X{app} %logger{35}- %msg%n]]></pattern>
        </layout>
    </appender>


    <appender name="datax"
              class="com.qlangtech.tis.realtime.utils.TisFlumeLogstashV1Appender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <flumeAgents>${log_flume_agent}</flumeAgents>
        <flumeProperties>
            connect-timeout=4000;
            request-timeout=8000
        </flumeProperties>
        <batchSize>100</batchSize>
        <reportingWindow>1000</reportingWindow>
        <additionalAvroHeaders>
            logtype=datax
        </additionalAvroHeaders>
        <application>datax</application>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[%d{HH:mm:ss.SSS} %-5level %logger{36}-%message%n%ex]]></pattern>
        </layout>
    </appender>


    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="datax"/>
    </root>

</configuration>
