<link rel="stylesheet" type="text/css" href="/runtime/css/pagination-1-0-1.css">
<h2>Noble应用一览</h2>
<script>
   function deleteApp(appid){
     if(!window.confirm("你确定要删除ID:"+ appid+"的记录吗？")){
        return ;
     }
        TIS.ajax({url:'$manageModule.setTarget('applist.ajax')', 
         		type:'POST',
				dataType:"json",
          		data:"event_submit_do_delete=y&action=add_app_action&appid="+appid,
			    success:function(data){			  	
				  	if(data.errormsg.length<1){
				  	  $('#row'+appid).remove();
				  	}
				  	showMessageDialog(data);			  	
	      	    }, 
			   error:function(){   
			   }				   
	        });
	  return false;
     
    }
</script>

<p>
#popup("$mvnPlugins.setTarget('nobleAppAdd')","添加",'800*500')
</p>
#showFormErrors("selectRevsion")
<form method="post" id="contentform" action="$manageModule.setTarget("applist")">
 <input type="hidden" name="action" value="app_view_action"/>
	
    #* 
	<fieldset id="uploaddialog">
	
    
      <p style="display:inline-block;margin-left: 50px;">
    	<span style="width:4em;">接口人：</span>
    	<input type="text" name="recept" id="query" size="40" value="$!recept" />
      </p>
     
    	#taction ("name=appselectboxcontrol" "namespace=/runtime#control","executeResult=true")
        #sparam("name=contextid","value='main'")
        #sparam("name=maxMatch","value=true")	
    	#sparam("name=onlySelectDpt","value=true")
		#sparam("name=selectDptId","value=$dptId")
    	#end
     <input type="submit" style="width:8em;height:30px;display:inline-block;margin-left:50px;" name="event_submit_do_query" value="查询" />
	 </fieldset>
  *#
</form>
<table border="1" width="100%">
<tr>
 <th width="5%">ID</th>
 <th>名称</th>
 <th width="20%">创建时间</th>
 <th width="8%">操作</th>
</tr>
#foreach($item in $nobleApps)
<tr id="row${item.id}"> 
<td align="center">$item.id</td>
<td> $manageTool.dialog("$mvnPlugins.setTarget('mvnDependencyList')?appid=$item.id&list_target=nobleapp","$item.name",true,true) </td>
<td align="right">$manageTool.formatDateYYYYMMdd($item.createTime)</td>
<td>
  <button onclick="deleteApp($item.appId)">删除</button>
  #popup("$manageModule.setTarget('appupdate')?appid=$item.appId","更新",'800*500')
</td>
</tr>
#end
</table>
