<h2>Noble应用绑定</h2>
<style type="text/css"><!--
  #uploaddialog p span{
    width:8em;
    display:inline-block;
  }
  #btndouploadjar {
    width:200px;
    height:30px;
  }
-->
</style>
#showFormErrors("nobleAppAction")
<form method="post" action="$mvnPlugins.setTarget("nobleAppAdd")" >
#*
$csrfToken.hiddenField
*#
<input type="hidden" name="action" value="noble_app_action"/>

<fieldset id="uploaddialog">
<legend>设置表单</legend>
<p>
    <span>应用名称:</span> 
    <input type="text" name="name" value="#p('name')" placeholder="solr-member"/>
    <em style="color:red">必选</em> 
    <em>必须以“solr-”开头</em>
</p>
<p>
  <span>链接地址:</span>    
  <input type="text" name="openUrl" style="width:100%"  value="#p('openUrl')" 
    placeholder="http://rdg.2dfire-inc.com/static-noble/pages/variation/main.html#/deploy/dev/596"/>
    <em style="color:red">必选</em>
</p>
<p>
 <input type="submit" id="btnaddapp" name="event_submit_do_bind_new_app" value="提     交" />
</p>
</fieldset>
</form>