<h2>${appDomainDesc}Noble应用绑定</h2>
<style type="text/css"><!--
  #uploaddialog p span{
    width:8em;
    display:inline-block;
  }
  #btndouploadjar {
    width:200px;
    height:30px;
  }
-->
</style>
#showFormErrors("nobleAppAction")
<form id="formTisAppNobleBind" method="post" action="$mvnPlugins.setTarget("tisAppNobleBind")" >
<input type="hidden" name="action" value="noble_app_action"/>
<input type="hidden" name="appid" value="#p('appid')"/>
<input type="hidden" name="list_target" value="tisapp"/>
<input type="hidden" name="event_submit_do_tis_bind_noble" value="y"/>


<fieldset id="uploaddialog">
<legend>设置表单</legend>
<p>
   #sselect ("label=Noble应用名称" 
              "list=nobleApps" 
              "name=nobleAppId" 
              "listKey=id" 
              "listValue=name" 
              "emptyOption=false" 
              "headerKey=-1" 
              "headerValue=请选择")
    <em style="color:red">必选</em> 
</p>

<p> 
 <button id="btnbindNoble">提     交</button>
</p>
</fieldset>
</form>
<script>
  $(document).ready(function(){
    $("#btnbindNoble").click(function(){   
       TIS.ajax({url:'$mvnPlugins.setTarget('tisAppNobleBind.ajax')', 
         		type:'POST',
          		data:$("#formTisAppNobleBind").serialize(),
			    success:function(data){ 
			     showMessageDialog(data);
			     window.location.replace("$mvnPlugins.setTarget("mvnDependencyList")?appid=#p('appid')&list_target=tisapp");
	      	    }
	        });
	   return false;
    });
  })


</script>