<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<!-- <context-param> <param-name>log4jConfigLocation</param-name> <param-value>WEB-INF/classes/log4j.xml</param-value> 
		</context-param> -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:application.context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.XmlWebApplicationContext</param-value>
	</context-param>

	<filter>
		<filter-name>setResponseLocal</filter-name>
		<filter-class>com.qlangtech.tis.manage.common.DefaultFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>setResponseLocal</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
        <filter-name>setResponseLocal</filter-name>
        <url-pattern>*.ajax</url-pattern>
    </filter-mapping>


<servlet>
        <servlet-name>struts2</servlet-name>
        <servlet-class>org.apache.struts2.dispatcher.servlet.StrutsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>struts2</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>struts2</servlet-name>
        <url-pattern>*.ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>struts2</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>




	<servlet>
		<servlet-name>monitorServlet</servlet-name>
		<servlet-class>com.dihuo.app.common.monitor.MonitorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>monitorServlet</servlet-name>
		<url-pattern>/tis/check_health</url-pattern>
	</servlet-mapping>



	<!-- websocket推送服务集群 中的日志 -->
	<servlet>
		<servlet-name>logfeedback</servlet-name>
		<servlet-class>com.qlangtech.tis.manage.servlet.LogFeedbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logfeedback</servlet-name>
		<url-pattern>/download/logfeedback</url-pattern>
	</servlet-mapping>



	<!-- 广播式查询索引 baisui add 20120413 -->
	<servlet>
		<servlet-name>query-index</servlet-name>
		<servlet-class>com.qlangtech.tis.manage.servlet.QueryIndexServlet</servlet-class>
	</servlet>

	<!-- 通过 appname runtime groupindex 查找solr core的配置信息 -->
	<servlet>
		<servlet-name>getappconfig</servlet-name>
		<servlet-class>com.qlangtech.tis.manage.servlet.LoadSolrCoreConfigByAppNameServlet</servlet-class>
	</servlet>

	<!-- 通过snid查找配置资源 <servlet> <servlet-name>getappbysnid</servlet-name> <servlet-class>com.qlangtech.tis.manage.servlet.LoadSolrCoreConfigBySnidServlet</servlet-class> 
		</servlet> -->
	<!-- <servlet-mapping> <servlet-name>checkYuntiSuccessFileIsReady</servlet-name> 
		<url-pattern>/checkYuntiSuccessFileIsReady</url-pattern> </servlet-mapping> -->
	<!-- <servlet> <servlet-name>jstservice</servlet-name> <servlet-class>com.qlangtech.tis.manage.servlet.JstServiceServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>jstservice</servlet-name> <url-pattern>/jstservice</url-pattern> 
		</servlet-mapping> -->
	<!-- 通过 appname runtime groupindex 查找solr core的配置信息 -->
	<servlet-mapping>
		<servlet-name>getappconfig</servlet-name>
		<url-pattern>/download/appconfig/*</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>query-index</servlet-name>
		<url-pattern>/query-index</url-pattern>
	</servlet-mapping>



	<welcome-file-list>
		
		<welcome-file>index.htm</welcome-file>
		<!-- 
		<welcome-file>/runtime/index.htm</welcome-file>
        <welcome-file>ext.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	 -->
	</welcome-file-list>

</web-app>
