<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
     <bean id="ds1" class="com.taobao.terminator.common.data.TerminatorDataSource">
         <property name="name" value="ds1" />
         <property name="path" value="$confPath/ds.xml" />
    </bean>

    <bean id="fullDataProvider" class="com.taobao.terminator.common.data.SingleTableDataProvider" init-method="init">
        <property name="dataSource" ref ="ds1"/>
        <property name="sql">
            <value>
                <![CDATA[
                    SELECT id ,title, content, (SELECT GROUP_CONCAT(`code`) FROM `common_catalog` WHERE `code` IN(
	SELECT `catalogId` FROM r_post_cata_relation WHERE `postId` = a.`id`)) catalogs, createDate,modifiedDate
	FROM r_post a

                ]]>
            </value>
        </property>
    </bean>
    <bean id="incrDataProvider" class="com.taobao.terminator.common.data.SingleTableDataProvider" init-method="init">
        <property name="dataSource" ref ="ds1"/>
        <property name="sql">
            <value>
                <![CDATA[
                   SELECT id ,title, content, (SELECT GROUP_CONCAT(`code`) FROM `common_catalog` WHERE `code` IN(
        SELECT `catalogId` FROM r_post_cata_relation WHERE `postId` = a.`id`)) catalogs, createDate,modifiedDate
        FROM r_post a
                  ]]>
            </value>
        </property>
    </bean>
   <!--
    <bean id="dateFormatProcessor" class="com.taobao.terminator.common.data.processor.DateFormater" init-method="init">
                <property name="formats">
                        <map>
                           <entry key="createDate"  value="yyyy-MM-dd hh:mm:ss -> yyyyMMddhhmmss"></entry>
                           <entry key="modifiedDate" value="yyyy-MM-dd hh:mm:ss -> yyyyMMddhhmmss"></entry>
                        </map>
                </property>
    </bean> 
    -->
    <bean name="htmlProcessor" class="com.taobao.terminator.common.data.processor.HtmlDataProcess">
    </bean>
    <bean name="dateToLongProcessor" class="com.taobao.terminator.common.data.processor.DateToLongProcessor">
     <property name="formatFields" value="createDate,modifiedDate"/>

    </bean>
    <bean name="dataProcessor"
             class="com.taobao.terminator.common.data.processor.DataProcessorChain">
             <property name="dataProcessors">
                     <list>
                             <ref bean="dateToLongProcessor" />
                             <ref bean="htmlProcessor" />
                     </list>
             </property>
     </bean>
		
</beans>
