<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- <jobtracker.rpcserver>TAOBAO-ADED75F0:8848</jobtracker.rpcserver> <jobtracker.transserver>TAOBAO-ADED75F0:8849</jobtracker.transserver> 
		<jobtracker.jarpath>d:/builder/jar</jobtracker.jarpath> -->
	<property>
		<name>fs.default.name</name>
		<value>hdfs://10.1.6.211:9000</value>
		<description>hdfs namenode</description>
	</property>
	<property>
		<name>indexing.mergemode</name>
		<value>concurrent</value>
		<description>the mode to merge ram index:concurrent or serial
		</description>
	</property>
	<property>
		<name>indexing.docqueuesize</name>
		<value>1000</value>
		<description>max doc in the docqueue</description>
	</property>
	<property>
		<name>indexing.ramdirqueuesize</name>
		<value>1</value>
		<description>max amount of ram dir to be merge</description>
	</property>
	<property>
		<name>indexing.docmakerthreadcount</name>
		<value>5</value>
		<description>max amount of doc makder thread</description>
	</property>
	<property>
		<name>indexing.indexmakerthreadcount</name>
		<value>3</value>
		<description>max amount of index makder thread</description>
	</property>
	<property>
		<name>indexing.maxmergethreadcount</name>
		<value>1</value>
		<description>max amount of merge thread</description>
	</property>
	<property>
		<name>indexing.maxNumSegments</name>
		<value>1</value>
		<description>max amount of segments</description>
	</property>
	<property>
		<name>indexing.flushCountThreshold</name>
		<value>5000000</value>
		<description>内存索引数量达到该数值，则放到merge队列中，等待合并</description>
	</property>
	<property>
		<name>indexing.flushSizeThreshold</name>
		<value>500000000</value>
		<description>内存索引大小达到该数值，则放到merge队列中，等待合并</description>
	</property>
</configuration>